<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frieden</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link href="../static/css/chat.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--
    <div class="chat_header">
        <span>Frieden</span>
        <button type="button" id="close_chat_btn" class="close_btn">X</button>
    </div>
    -->

    <div id="divbox" class="chat_content" style="float: left"></div>
    <p>상담 지원 센터나 전화번호 등</p>
    <div style="clear: both;"></div>

    <form id="form" style="display: inline">
        <input type="text" name="user_input" class="chat_input" id="input" size="80" style="display: inline;" />
        <input type="button" value="음성" id="btn_voice" class="btn" style="display: inline; width: 50px" />
        <input type="button" value="입력" id="btn_send" class="btn" style="display: inline; width: 50px" />
        <a href="../logs/log.txt" download="Frieden.txt">
            <input type="button" value="대화 로그 저장" id="btn_log" class="btn" />
        </a>
    </form>

    <div id="popup_layer" class="popup_layer">
        <div id="popup_voice" class="popup_box" style="width: 300px; height: 200px;">
            <div class="popup_content">
                <h2>음성 인식 중</h2>
                <p>말씀해 주세요.</p>
            </div>
        </div>
        <div id="popup_error" class="popup_box" style="width: 400px; height: 235px;">
            <div class="popup_btn">
                <input type="button" id="popup_close" value="X" />
            </div>
            <div class="popup_content">
                <h2>음성 인식 오류</h2>
                <p>음성 인식에 실패했습니다.<br>
                다시 말씀해 주세요.</p>
            </div>
        </div>
    </div>

    <script src="../static/js/chat.js"></script>
</body>
</html>