/* 채팅창 배경 */
.chat_content {
    width: 500px; height: 670px;
    overflow-y: scroll;
    padding: 10px 15px;
    background: whitesmoke
}

/* 채팅 입력란 */
.chat_input {
    padding: 3px 5px;
    width: 410px;
}

/* 버튼 */
.btn {
    border: 1px solid #666;
    background: antiquewhite;
    height: 28px;
    color: black;
    box-shadow: 1px 1px 1px gray;
}

/* 버튼 클릭 효과 */
.btn:active {
    box-shadow: none;
}

/* 메시지 박스 */
.msg_box > span {
    padding: 3px 5px;
    word-break: break-all;
    display: block;
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 4px
}

/* 입력 메시지 박스 */
.msg_box.send > span {
    background:wheat;
    float: right;
}

/* 응답 메시지 박스 */
.msg_box.receive > span {
    background: white;
    float: left;
}

/* 메시지 박스 이후 동작 */
.msg_box:after {
    content: ''; display: block; clear: both;
}


/* 팝업 레이어 */
.popup_layer {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed; top: 10px; left: 10px;
    width: 510px; height: 690px;
    z-index: 2;
    display: none;
}

/* 팝업 박스 */
.popup_box {
    background: white;
    position: relative; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    display: none;
}

/* 팝업 박스 컨텐츠 영역 */
.popup_content {
    padding: 30px;
    line-height: 1.3rem;
    font-size: 15px;
}
.popup_content h2 {
    text-align: center;
    padding: 15px 0;
    color: #333;
    margin: 0;
}
.popup_content p {
    text-align: center;
    border-top: 1px solid #666;
    padding-top: 25px;
}

/* 팝업 박스 닫기 버튼 */
.popup_btn {
    height: 10px; width: 400px;
    float: top; text-align: right;
}
.popup_btn input {
    background-color: white;
    padding: 10px 15px;
    width: "30px"; height: "30px";
    border: none;
}

/*
.chat_wrap {display: none; width: 350px; height: 500px; position: fixed; bottom: 30px; right: 95px; background: #a9bdce;}
.chat_header {padding: 10px 15px; border-bottom: 1px solid #95a6b4;}
.chat_header .close_btn {border: none; background: none; float: right;}
*/

/* 배경 이미지 관련
body {
    opacity: 1;
}

.chat_content {height: 600px; width: 1500px; overflow-y: scroll; padding: 10px 15px;
                background: url("../img/livingroom.jpg") no-repeat 45%;
                background-size: contain;}
*/